@import "variables";

.b-header{
    background-color: $color-blue;

    .navbar{
        background-color: $color-blue;
        padding: 0;
        min-width: 60px;
    
    }

    a{
        color: white;
    }
}